input{
    height: 19px;
    padding-top: 4px;
}
button{
    padding-top: 2px;
    background-color: rgb(197, 215, 239);
    border-radius: 30px;
    border: 2px solid rgb(0, 213, 255);
    cursor: pointer;
}
body{
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 28, 237)), to(#117add)) fixed;
    color: white;
}
input{
    background-color: rgb(197, 215, 239);
    border-radius: 30px;
    border: 2px solid rgb(0, 213, 255);
}
