input{
    height: 19px;
    padding-top: 4px;
}
button{
    padding-top: 2px;
}
body{
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 28, 237)), to(#117add)) fixed;
    color: white;
}